.white {
    color: white;
}

.gray {
    color: #bfbdc7;
}

.gray-light {
    color: #d8d6e1;
}

.gray-dark {
    color: #2a2f32;
}

.blue-light {
    color: #3a95a0;
}

.cyan {
    color: #3a95a0;
}

.green {
    color: #5ab13f;
}