.white {
    color: white;
}

.gray {
    color: #bfbdc7;
}

.gray-light {
    color: #d8d6e1;
}

.gray-dark {
    color: #66737a;
}

.blue-light {
    color: #2d9eab;
}

.cyan {
    color: #3a95a0;
}

.green {
    color: #5ab13f;
}

.red {
    color: red;
}

.red-gray {
    color: #c73e45;
}

.bg-green-light {
    background-color: #fbfdff;
}