body {
    background-color: #f9f9f9;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        margin: 0;
    }
}

@media (max-width: 768px) {
    #mobilePanelId {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

@media (min-width: 768px) {
    #groupListId {
        margin: 2em;
    }
}

@media (max-width: 768px) {
    #serviceListPanelBodyId {
        padding: 0;
    }
}

.panel {
    padding-bottom: 2em;
}

.margin-top-05 {
    margin-top: 0.5em;
}

.margin-top-02 {
    margin-top: 0.2em;
}

.margin-top-10percent {
    margin-top: 10%;
}

.margin-bottom-10percent {
    margin-bottom: 10%;
}

.margin-bottom-2em {
    margin-bottom: 2em;
}

.vertical-center {
    margin-top: 0;
    margin-bottom: 0;
}

.horizontal-fill {
    width: 100%;
}

.horizontal-fill > div {
    margin: 0 auto;
}

.text-align-center {
    text-align: center;
}

.margin-bottom-0 {
    display: inline-block;
    margin-bottomo: 0;
}

.margin-top-2vh {
    margin-top: 2vh;
}

.align-right {
    text-align: right;
}

.margin-left-1vh {
    margin-left: 1vh;
}

.margin-right-1vh {
    margin-right: 1vh;
}

.margin-right-2vh {
    margin-right: 2vh;
}

.margin-left-2vh {
    margin-left: 2vh;
}

.custom-panel {
    background: white;
    border: 0.1em;
    border-style: solid;
    border-color: #d9d9e2;
    border-top: none;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    padding: 0.1em;
}

.dropdown-menu {
    height: auto;
    max-height: 300px;
    width: 20em;
    max-width: 370px;
    overflow-x: hidden;
}

.dropdown-menu li a {
    white-space: normal;
    word-wrap: break-word;
}

textarea {
    resize: none;
}